@model Lost_and_Found.Models.Lostitem

@{ ViewData["Title"] = "Details"; }
<style>
    body {
        background-color: #f5f5f5;
    }

    .row {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        justify-content: center;
        align-content: center;
        align-items: center
    }
</style>
<h3 class="mt-3 mb-3">Lost Item Details</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Item Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt class="col-sm-2">
            Category
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemCategory)
        </dd>
        <dt class="col-sm-2">
            Desctiption
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Found Area
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LostArea)
        </dd>
        <dt class="col-sm-2">
            Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            Item Image
        </dt>
        <dd class="col-sm-10">
            <img src="@("~/img/"+Model.Image)" height="250px" width="250px" asp-append-version="true" />
        </dd>
    </dl>

    <a asp-action="Edit" asp-route-id="@Model.ItemId" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>

</div>





